apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: dev
  name: dummy-dev
  labels:
    app: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dev
  template:
    metadata:
      labels:
        app: dev
    spec:
      containers:
      - name: demo-container
        image: dummy-api:2
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 105

